@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: 'Phosphate';
  src: url('../fonts/Phosphate-Inline.ttf') format('truetype');
  /* Legacy iOS */
}
*,
body * {
  font-family: "Roboto";
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
